.page {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    color: #ffffff;
    min-width: 320px;
}