.profile__edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit_Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    margin-left: 20px;
    cursor: pointer;
  }
  

@media screen and (max-width: 1023px) {
    .profile__edit {
      min-width: 18px;
      min-height: 18px;
      margin-top: 2px;
    }
  }
  
.profile__edit:hover {
    opacity: 0.6;
    cursor: pointer;
  }