.profile__add {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Vector.svg);
    box-sizing: border-box;
    border: 2px white solid;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}